{%extends './base.html'%}

{%block title%}Contacto{%endblock%}

{% block body %}
<div class="container marketing padding-contacto">

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Alan Henriquez</h2>
        <p>Estudiante de ingenieria en sistemas.</p>
        <p>Numero de teléfono: +503 78578157</p>
        <button class="btn btn-outline-secondary" type="button">
          <a href="mailto:alanderekh@gmail.com?Subject=Contacto%20por%20proyecto" class="nav-link px-2 text-white">
            Contactar por correo
          </a>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Habilidades</h2>
        <p>Desarrollo de paginas web personalisadas con HTML, CSS, JavaScript y Python.</p>
        <p>Creacion de aplicaciones moviles</p>
        <p>Conocimientos en diseño Web, aplicaciones moviles, logos, marcas, edicion de fotografias y videos.</p>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch padding-contacto-tageta">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Edwin Joya</h2>
        <p>Estudiante de ingenieria en sistemas.</p>
        <p>Numero de teléfono: +503 71472356</p>
        <button class="btn btn-outline-secondary" type="button">
          <a href="mailto:edwinj@gmail.com?Subject=Contacto%20por%20proyecto" class="nav-link px-2 text-white">
            Contactar por correo
          </a>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Habilidades</h2>
        <p>Desarrollo Back-end con Python.</p>
        <p>Conocimientos en diseño de aplicaciones</p>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch padding-contacto-tageta">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Genesis Scarlet</h2>
        <p>Estudiante de ingenieria en sistemas.</p>
        <p>Numero de teléfono: +503 71456326</p>
        <button class="btn btn-outline-secondary" type="button">
          <a href="mailto:caletSis@gmail.com?Subject=Contacto%20por%20proyecto" class="nav-link px-2 text-white">
            Contactar por correo
          </a>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Habilidades</h2>
        <p>Redaccion de texto.</p>
      </div>
    </div>
  </div>

  <div class="row align-items-md-stretch padding-contacto-tageta">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Maria del Carmen</h2>
        <p>Estudiante de ingenieria en sistemas.</p>
        <p>Numero de teléfono: +503 72246589</p>
        <button class="btn btn-outline-secondary" type="button">
          <a href="mailto:mardcar@gmail.com?Subject=Contacto%20por%20proyecto" class="nav-link px-2 text-white">
            Contactar por correo
          </a>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Habilidades</h2>
        <p>Redaccion de texto.</p>
      </div>
    </div>
  </div>

</div><!-- /.container -->


{% endblock %}